@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://unicons.iconscout.com/release/v4.0.8/css/line.css');


:root{
  --header-height: 3rem;

  --hue-color-first: 190;
  --hue-color-second: 34;

  --first-color:           hsl(var(--hue-color-first), 100%, 32%);
  --first-color-alt:       hsl(var(--hue-color-first), 57%, 32%);
  --first-color-lighter:   hsl(var(--hue-color-first), 92%, 85%);
  --second-color:          hsl(var(--hue-color-second), 90%, 52%);
  --second-color-alt:      hsl(var(--hue-color-second), 67%, 52%);
  --second-color-lighter:  hsl(var(--hue-color-second), 92%, 85%);

  --title-color: hsl(var(--hue-color-first), 8%, 15%);
  --text-color: hsl(var(--hue-color-first), 8%, 45%);
  --text-color-light: hsl(var(--hue-color-first), 8%, 65%);

  --input-color: hsl(var(--hue-color-first), 70%, 96%);
  --body-color: hsl(var(--hue-color-first), 60%, 99%);

  --body-font: 'Poppins', sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  
  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  --container-color: #fff;

  /* Swiper Manual Configurations */
  --swiper-navigation-sides-offset: -3px;
  --swiper-navigation-color: var(--first-color);
}


/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
